@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";
@import "tailwindcss";


@theme {
  --color-smokyBlack: #0C0C0C;
  --color-snowWhite: #FFFAFA;
  --color-dustyRose: #E6B0AA;
  --color-softPink: #F7DAD9;
  --color-roseWood: #C17A77;
  --color-taupeGray: #6B5E5B;
  --color-gray: #62635C;
  --color-champagneBeige: #F4EDE4;

  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Raleway", sans-serif;
}


