@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";
@import "tailwindcss";


@theme {
  --color-smokyBlack: #0C0C0C;
  --color-snowWhite: #FFFAFA;
  --color-dustyRose: #E6B0AA;
  --color-softPink: #F7DAD9;
  --color-roseWood: #C17A77;
  --color-taupeGray: #6B5E5B;
  --color-gray: #62635C;
  --color-champagneBeige: #F4EDE4;

  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Raleway", sans-serif;
}

@layer components {
  .philosophy-container {
    @apply flex flex-col items-center  justify-center space-y-6 md:flex-row md:items-center md:space-y-0 md:space-x-15 lg:space-x-20;
  }
  
  .philosophy-text {
    @apply font-body font-medium italic px-5 w-full text-center flex items-center justify-center h-full md:text-xl lg:text-2xl md:w-auto md:text-left md:justify-start min-h-[80px];
  }
  
  .philosophy-image {
    @apply w-100 h-auto;
  }

  .quote-container {
    @apply relative max-w-2xl mx-auto py-8 px-5 lg:max-w-md;
  }
  
  .quote-mark {
    @apply text-softPink/40 text-4xl absolute;
  }
  
  .quote-start {
    @apply -top-1 -left-1 ml-5;
  }
  
  .quote-end {
    @apply -bottom-1 -right-1 mr-5;
  }
  
  .quote-content {
    @apply font-heading italic text-lg lg:text-xl text-smokyBlack text-center leading-relaxed px-5;
  }

}

@layer utilities {
    @keyframes column-wave {
        0% {
            opacity: 0;
            transform: translateY(40px);
        }
        60% {
            opacity: 0.8;
            transform: translateY(-5px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .animate-column-wave {
        animation: column-wave 0.8s ease-out forwards;
    }
}


